* {
    font-family: 'Helvetica', sans-serif;

    box-sizing: border-box;
    /*display: block;*/ /* WARNING - Elements inside of <head /> will show! */
}

html, body, canvas {
    margin: 0;
    padding: 0;
}

#root > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto;

    height: 100vh;
}

#root > div > div {
    line-height: 60px;
    padding: 0 32px;

    font-weight: 600;
}

#root > div > div span {
    color: #5d21f5;
}

canvas.Canvas {
    background-color: #f1f1f1;

    width: 100%;
    height: 100%;
}
